@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto&display=swap");
@font-face {
  font-family: Muli;
  src: url(../fonts/Muli-Regular.ttf) url(../fonts/Muli-SemiBold.ttf) url(../fonts/Muli-Black.ttf);
}

body {
  font-family: "Open sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 345px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1145px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.button {
  padding: 0;
  width: 209px;
  min-height: 41px;
  background: #86bc42;
  border: 0;
  border-radius: 50px;
}

.button-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11px 31px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-text::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 17px;
  height: 1px;
  background-color: #ffffff;
}

.header-bg {
  background-color: #4b5464;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrapper {
    position: relative;
    padding-left: 67px;
    padding-right: 67px;
  }
}

.cont-header-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-header li:first-child {
  margin-top: 7px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
  }
}

.contacts-header li:last-child {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cont-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
}

.cont-links svg {
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .cont-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: auto;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.reist-item {
  padding-right: 31px;
  padding-left: 31px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-bottom: auto;
  background-color: #86bc42;
}

@media screen and (min-width: 768px) {
  .reist-item {
    padding-right: 38px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }
}

.entry-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 31px;
  margin-top: 4px;
  margin-bottom: 3px;
  font-weight: 600;
}

.entry-item svg {
  width: 35px;
  height: 26px;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .entry-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .entry-item svg {
    width: 41px;
    height: 30px;
    margin-right: 15px;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  margin-right: auto;
  margin-left: 57px;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-header {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    -webkit-transform: translate(400%, 9px);
            transform: translate(400%, 9px);
  }
}

.lg-green {
  color: #86bc42;
}

.lg-grey {
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .lg-grey {
    color: #fff;
  }
}

.menu-btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
  width: 36px;
  height: 15px;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    margin-right: 34px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 6px;
  }
}

.site-nav-links {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  color: #6e788d;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.site-nav-links:hover {
  color: #86bc42;
  cursor: pointer;
}

.hero-bg {
  width: 100%;
  min-width: 374px;
  height: auto;
  background-image: url(../../img/mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url(../../img/mob-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url(../../img/tablet-hero.jpg);
    min-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url(../img/tablet-hero@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg {
    background-image: url(../../img/desctop-hero.jpg);
    min-width: 1280px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url(../img/desctop-hero@2x.jpg);
  }
}

.hero-container {
  padding-top: 25px;
  padding-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.reg-window {
  padding-top: 11px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 19px;
  background: rgba(47, 45, 55, 0.25);
  border-radius: 4px;
}

.reg-window::before {
  content: "";
  z-index: 10;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .reg-window {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-window {
    padding-left: 136px;
    padding-right: 136px;
    margin-right: 152px;
    margin-left: 152px;
  }
}

.decription-reg {
  display: none;
}

@media screen and (min-width: 768px) {
  .decription-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }
  .decription-reg li + li::before {
    content: "";
    width: 74px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: -95px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .decription-reg li + li::before {
    top: 35px;
    left: -105px;
  }
}

.descr-reg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .descr-reg-title {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .descr-reg-title {
    font-size: 14px;
  }
}

.descr-reg-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descr-reg-icon1 {
  width: 41px;
  height: 41px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon1 {
    width: 56px;
    height: 56px;
  }
}

.descr-reg-icon2 {
  width: 44px;
  height: 44px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon2 {
    width: 59px;
    height: 59px;
  }
}

.descr-reg-icon3 {
  width: 41px;
  height: 41px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon3 {
    width: 55px;
    height: 55px;
  }
}

.num {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  font-family: "Open sans";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .num {
    font-size: 24px;
    -webkit-transform: translate(-15px, -12px);
            transform: translate(-15px, -12px);
  }
}

.reg-window-header {
  margin-bottom: 17px;
  font-family: "Open sans";
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reg-window-header {
    font-size: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .reg-window-header {
    font-size: 36px;
  }
}

.reg-window-header span {
  font-family: "Open sans";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reg-window-header span {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .reg-window-header span {
    font-size: 26px;
  }
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 10px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 37px;
}

@media screen and (min-width: 768px) {
  .reg-form {
    padding: 11px 13px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-form {
    padding: 14px 18px;
    margin-bottom: 47px;
  }
}

.reg-form-items-name {
  width: 100%;
  max-width: 114px;
}

@media screen and (min-width: 1280px) {
  .reg-form-items-name {
    max-width: 154px;
  }
}

.reg-form-items-tel {
  margin-left: 11px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .reg-form-items-tel {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-form-items-tel {
    margin-left: 22px;
  }
}

.reg-form-items {
  height: 30px;
  padding-left: 11px;
  background: #ffffff;
  border: 1px solid #6e788d;
  border-radius: 37px;
}

.reg-form-items::-webkit-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items:-ms-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::-ms-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .reg-form-items {
    height: 41px;
  }
  .reg-form-items::-webkit-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items:-ms-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items::-ms-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items::placeholder {
    font-size: 14px;
  }
}

.hero-btn-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 37px;
}

@media screen and (min-width: 767px) {
  .hero-btn-mob {
    display: none;
  }
}

.hero-btn-item-mob {
  width: 87px;
  height: 30px;
  background-color: #86bc42;
  outline: none;
  border: none;
  border-radius: 37px;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .hero-btn-item-mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-btn {
    display: none;
  }
}

.hero-btn-item {
  margin-left: 16px;
  width: 87px;
  height: 30px;
  background-color: #86bc42;
  outline: none;
  border: none;
  border-radius: 37px;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-btn-item {
    margin-left: 22px;
    width: 117px;
    height: 41px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .hero-btn-item {
    display: none;
  }
}

.objects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .header-objects {
    font-size: 20px;
  }
}

.header-objects::before {
  margin-top: 27px;
  margin-bottom: 13px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .header-objects::before {
    margin-top: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header-objects::before {
    margin-top: 55px;
  }
}

.objects-text {
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: 0.01em;
  text-align: center;
  color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .objects-text {
    font-size: 16px;
    margin-right: 7px;
    margin-left: 3px;
  }
}

@media screen and (min-width: 1280px) {
  .objects-text {
    font-size: 16px;
    margin-right: 7px;
    margin-left: 3px;
  }
}

.img-houses {
  margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .img-houses {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .img-houses {
    grid-gap: 31px;
    margin-bottom: 0;
  }
}

.img-for-all-dev {
  margin-top: 25px;
}

.scroll {
  display: none;
}

@media screen and (min-width: 768px) {
  .scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scroll-points {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 56px;
}

@media screen and (min-width: 1280px) {
  .scroll-points {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.scroll-points svg {
  margin-right: 17px;
}

.scroll-points svg:last-child {
  margin-right: 0;
}

.scroll-btn {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: none;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
}

.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  margin-left: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

.header-information::before {
  margin-top: 39px;
  margin-bottom: 16px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

.information-text {
  margin-top: 25px;
}

.information-text-paragraph {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: 0.01em;
  color: #9ca3ab;
}

.information-text-paragraph:last-child {
  margin-bottom: 0;
}

.provider-container {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
          box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
  border-radius: 5px;
}

.header-provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 53px;
  margin-right: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38em;
  text-align: center;
  color: #6e788d;
}

.header-provider::after {
  margin-top: 17px;
  margin-bottom: 26px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

.provider-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.provider-items:hover .border {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.provider-items:last-child {
  margin-bottom: 0;
}

.border {
  margin-left: 9px;
  margin-right: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(circle at top right, #86bc42, transparent);
  background-image: linear-gradient(white, white), radial-gradient(circle at top right, #86bc42, transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.num-provider {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #86bc42;
}

.provider-name {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #9ca3ab;
}

.header-objects {
  font-family: 'Open sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #6E788D;
}
/*# sourceMappingURL=main.css.map */