@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto&display=swap");
@font-face {
  font-family: Muli;
  src: url(../fonts/Muli-Regular.ttf) url(../fonts/Muli-SemiBold.ttf) url(../fonts/Muli-Black.ttf);
}

body {
  font-family: "Open sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 345px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1145px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.button {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 0;
  background: #86bc42;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-text::after {
  content: "";
  width: 17px;
  height: 1px;
  margin-left: 9px;
  background-color: #ffffff;
}

.header-bg {
  background-color: #4b5464;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .header-wrapper {
    position: relative;
  }
}

.cont-header-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-header li:first-child {
  margin-top: 7px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
  }
}

.contacts-header li:last-child {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cont-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
}

.cont-links svg {
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .cont-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: auto;
  margin-right: -15px;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.reist-item {
  padding-right: 31px;
  padding-left: 31px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-bottom: auto;
  background-color: #86bc42;
}

@media screen and (min-width: 768px) {
  .reist-item {
    padding-right: 38px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: -15px;
    font-size: 16px;
  }
}

.entry-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 31px;
  margin-top: 4px;
  margin-bottom: 3px;
  font-weight: 600;
}

.entry-item svg {
  width: 35px;
  height: 26px;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .entry-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .entry-item svg {
    width: 41px;
    height: 30px;
    margin-right: 15px;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  margin-right: auto;
  margin-left: 42px;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-header {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    -webkit-transform: translate(400%, 9px);
            transform: translate(400%, 9px);
  }
}

.lg-green {
  color: #86bc42;
}

.lg-grey {
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .lg-grey {
    color: #fff;
  }
}

.menu-btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: auto;
  padding: 0;
  width: 36px;
  height: 15px;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    margin-right: 34px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 6px;
  }
}

.site-nav-links {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  color: #6e788d;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.site-nav-links:hover {
  color: #86bc42;
  cursor: pointer;
}

.hero-bg {
  width: 100%;
  min-width: 374px;
  height: auto;
  background-image: url("../img/mob-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url("../img/mob-hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url("../img/tablet-hero.jpg");
    min-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url("../img/tablet-hero@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg {
    background-image: url("../img/desctop-hero.jpg");
    min-width: 1280px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url("../img/desctop-hero@2x.jpg");
  }
}

.hero-container {
  padding-top: 25px;
  padding-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.reg-window {
  padding-top: 11px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 19px;
  background: rgba(47, 45, 55, 0.25);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

@media screen and (min-width: 768px) {
  .reg-window {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-window {
    padding-left: 136px;
    padding-right: 136px;
    margin-right: 152px;
    margin-left: 152px;
  }
}

.decription-reg {
  display: none;
}

@media screen and (min-width: 768px) {
  .decription-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }
  .decription-reg li + li::before {
    content: "";
    width: 74px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: -95px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .decription-reg li + li::before {
    top: 35px;
    left: -105px;
  }
}

.descr-reg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .descr-reg-title {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .descr-reg-title {
    font-size: 14px;
  }
}

.descr-reg-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descr-reg-icon1 {
  width: 41px;
  height: 41px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon1 {
    width: 56px;
    height: 56px;
  }
}

.descr-reg-icon2 {
  width: 44px;
  height: 44px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon2 {
    width: 59px;
    height: 59px;
  }
}

.descr-reg-icon3 {
  width: 41px;
  height: 41px;
}

@media screen and (min-width: 1280px) {
  .descr-reg-icon3 {
    width: 55px;
    height: 55px;
  }
}

.num {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  font-family: "Open sans";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .num {
    font-size: 24px;
    -webkit-transform: translate(-20px, -12px);
            transform: translate(-20px, -12px);
  }
}

.reg-window-header {
  margin-bottom: 17px;
  font-family: "Open sans";
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reg-window-header {
    font-size: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .reg-window-header {
    font-size: 36px;
  }
}

.reg-window-header span {
  font-family: "Open sans";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reg-window-header span {
    font-size: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .reg-window-header span {
    font-size: 26px;
  }
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 10px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 37px;
}

@media screen and (min-width: 768px) {
  .reg-form {
    padding: 11px 13px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-form {
    padding: 14px 18px;
    margin-bottom: 47px;
  }
}

.reg-form-items-name {
  width: 100%;
  max-width: 114px;
}

@media screen and (min-width: 1280px) {
  .reg-form-items-name {
    max-width: 154px;
  }
}

.reg-form-items-tel {
  margin-left: 11px;
  width: 100%;
  max-width: 162px;
}

@media screen and (min-width: 768px) {
  .reg-form-items-tel {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reg-form-items-tel {
    margin-left: 22px;
    max-width: 219px;
  }
}

.reg-form-items {
  height: 30px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 11px;
  background: #ffffff;
  border: 1px solid #6e788d;
  border-radius: 37px;
}

.reg-form-items::-webkit-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items:-ms-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::-ms-input-placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::placeholder {
  margin-right: 44px;
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .reg-form-items {
    height: 41px;
    padding-top: 11px;
  }
  .reg-form-items::-webkit-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items:-ms-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items::-ms-input-placeholder {
    font-size: 14px;
  }
  .reg-form-items::placeholder {
    font-size: 14px;
  }
}

.hero-btn-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 37px;
}

@media screen and (min-width: 767px) {
  .hero-btn-mob {
    display: none;
  }
}

.hero-btn-item-mob {
  width: 87px;
  height: 30px;
  background-color: #86bc42;
  outline: none;
  border: none;
  border-radius: 37px;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .hero-btn-item-mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero-btn {
    display: none;
  }
}

.hero-btn-item {
  margin-left: 16px;
  width: 87px;
  height: 30px;
  background-color: #86bc42;
  outline: none;
  border: none;
  border-radius: 37px;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-btn-item {
    margin-left: 22px;
    width: 117px;
    height: 41px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .hero-btn-item {
    display: none;
  }
}

.objects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .header-objects {
    font-size: 20px;
  }
}

.header-objects::before {
  margin-top: 27px;
  margin-bottom: 13px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .header-objects::before {
    margin-top: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header-objects::before {
    margin-top: 55px;
  }
}

.objects-text {
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: 0.01em;
  text-align: center;
  color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .objects-text {
    font-size: 16px;
    margin-right: 7px;
    margin-left: 3px;
  }
}

@media screen and (min-width: 1280px) {
  .objects-text {
    font-size: 16px;
    margin-right: 7px;
    margin-left: 3px;
  }
}

.img-houses {
  margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .img-houses {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .img-houses {
    grid-gap: 31px;
    margin-bottom: 0;
  }
}

.img-for-all-dev {
  margin-top: 25px;
}

.scroll {
  display: none;
}

@media screen and (min-width: 768px) {
  .scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scroll-points {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 56px;
}

@media screen and (min-width: 1280px) {
  .scroll-points {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.scroll-points svg {
  margin-right: 17px;
}

.scroll-points svg:last-child {
  margin-right: 0;
}

.scroll-btn {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: none;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .inform-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-information {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .section-information {
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 767px) {
  .rigth-plant-tab-desk {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .rigth-plant-mob {
    display: none;
  }
}

.right-plant {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: -999;
  width: 70px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .right-plant {
    top: -100px;
    right: 0;
    width: 133px;
  }
}

@media screen and (min-width: 1280px) {
  .right-plant {
    height: 370px;
    width: auto;
    top: -155px;
  }
}

.header-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .header-information {
    font-size: 20px;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .header-information {
    margin-bottom: 35px;
  }
}

.header-information::before {
  margin-top: 39px;
  margin-bottom: 16px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .information-text {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .information-text {
    margin-right: 32px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.information-text-paragraph {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: 0.01em;
  color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .information-text-paragraph {
    font-size: 16px;
  }
}

.information-text-paragraph:last-child {
  margin-bottom: 0;
}

.provider-container {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
          box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .provider-container {
    margin-right: 125px;
    margin-left: 125px;
    padding-top: 37px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .provider-container {
    margin: 0;
    min-width: 458px;
  }
}

.header-provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 53px;
  margin-right: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38em;
  text-align: center;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .header-provider {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.header-provider::after {
  margin-top: 17px;
  margin-bottom: 26px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

.provider-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 9px;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .provider-items {
    margin-left: 48px;
  }
}

.provider-items:last-child {
  margin-bottom: 0;
}

.border {
  margin-right: 19px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 2px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(circle at top right, #86bc42, transparent);
  background-image: linear-gradient(white, white), radial-gradient(circle at top right, #86bc42, transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-transition: 350ms linear;
  transition: 350ms linear;
}

.num-provider {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #86bc42;
}

.provider-name {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #9ca3ab;
}

.price-bg {
  margin-top: 39px;
  padding-top: 33px;
  padding-bottom: 34px;
  width: 100%;
  min-width: 375px;
  height: auto;
  background-image: url("../img/plant-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price-bg .hero-bg {
    background-image: url("../img/plant-bg@x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .price-bg {
    background-image: url("../img/tab-plant-bg.jpg");
    min-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price-bg .hero-bg {
    background-image: url("../img/tab-plant-bg@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .price-bg {
    background-image: url("../img/deck-plant-bg.jpg");
    min-width: 1280px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .price-bg .hero-bg {
    background-image: url("../img/deck-plant-bg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
  }
}

.forms-price {
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 25px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #86bc42;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .forms-price {
    padding-left: 24px;
    padding-right: 13px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .forms-price {
    margin-left: 68px;
    margin-right: 68px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 31px;
  }
}

.header-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .header-price {
    font-size: 20px;
  }
}

.header-price::before {
  margin-top: 27px;
  margin-bottom: 9px;
  content: "";
  width: 74px;
  height: 1px;
  background-color: #9ca3ab;
}

@media screen and (min-width: 1280px) {
  .header-price::before {
    margin-top: 38px;
    margin-bottom: 13px;
  }
}

.appartment-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-form-label {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .price-form-label {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.appartment-input {
  padding: 7px 16px;
  margin-bottom: 9px;
  width: 261px;
  height: 36px;
  border: 1px solid #6e788d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
}

.appartment-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.79em;
  color: #6e788d;
}

.appartment-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.79em;
  color: #6e788d;
}

.appartment-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.79em;
  color: #6e788d;
}

.appartment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.79em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .appartment-input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .appartment-input:-ms-input-placeholder {
    font-size: 16px;
  }
  .appartment-input::-ms-input-placeholder {
    font-size: 16px;
  }
  .appartment-input::placeholder {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .appartment-input {
    width: 373px;
    height: 51px;
  }
}

.period-input {
  margin-right: 9px;
}

.period {
  margin-right: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.1em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .period {
    font-size: 16px;
    margin-right: 23px;
  }
}

.price-container {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .price-container {
    margin-top: auto;
  }
}

.price-information {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.1em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .price-information {
    font-size: 16px;
  }
}

.clarification-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
}

@media screen and (min-width: 1280px) {
  .clarification-container {
    margin-bottom: 35px;
    margin-top: 40px;
  }
}

.inform-icon {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  border: 0.7px solid #86bc42;
  border-radius: 100%;
}

.inform-text {
  width: 245px;
}

@media screen and (min-width: 1280px) {
  .inform-text {
    width: 350px;
  }
}

.clarification {
  font-size: 12px;
  line-height: 1.3em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .clarification {
    font-size: 16px;
  }
}

.clarification-green {
  color: #86bc42;
}

.price {
  margin-top: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8em;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .price {
    font-size: 16px;
  }
}

.radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-radio {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .form-radio {
    margin-bottom: 0;
  }
}

.form-radio input[type="radio"] {
  display: none;
}

.form-radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .form-radio label {
    font-size: 16px;
    margin-right: 31px;
  }
}

.form-radio label:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 9px;
  border: 0.7px solid #86bc42;
  border-radius: 100%;
}

/* Checked */
.form-radio input[type="radio"]:checked + label:before {
  background: url("../../img/checked.svg") 0 0 no-repeat;
  background-size: 6.3px 6.3px;
  background-position: center;
}

.last-news-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-plant {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -999;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media screen and (min-width: 768px) {
  .left-plant {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (min-width: 1280px) {
  .left-plant {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .last-news-container {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media screen and (min-width: 1280px) {
  .last-news-container {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .left-plant-tab,
  .left-plant-desk {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .left-plant-desk,
  .left-plant-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .left-plant-tab,
  .left-plant-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .left-plant-desk {
    display: block;
  }
}

.last-news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .last-news-header {
    font-size: 20px;
    margin-bottom: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .last-news-header {
    margin-bottom: 35px;
  }
}

.last-news-header::before {
  margin-top: 39px;
  margin-bottom: 16px;
  content: "";
  width: 105px;
  height: 1px;
  background-color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .last-news-header::before {
    margin-top: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .last-news-header::before {
    margin-top: 50px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .last-nes-wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-description {
  margin-bottom: 16px;
  padding-right: 17px;
  padding-left: 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .news-description {
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .news-description {
    margin-bottom: 38px;
    margin-top: 66px;
    width: 510px;
  }
}

.news-description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 88px;
  width: 33px;
  height: 3px;
  background-color: #86bc42;
}

@media screen and (min-width: 768px) {
  .news-description::before {
    width: 102px;
    top: 135px;
  }
}

@media screen and (min-width: 1280px) {
  .news-description::before {
    width: 67px;
  }
}

.mob-building {
  margin-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .tab-building {
    display: none;
  }
  .deck-building {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tab-building {
    display: block;
  }
  .deck-building {
    display: none;
  }
  .mob-building {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .tab-building {
    display: none;
  }
  .mob-building {
    display: none;
  }
  .deck-building {
    position: absolute;
    display: block;
    right: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .news {
    margin-right: auto;
  }
}

.news-inform {
  margin-top: 22px;
}

@media screen and (min-width: 768px) {
  .news-inform {
    margin-top: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .news-inform {
    width: 470px;
    margin-left: 68px;
    margin-top: 0;
  }
}

.news-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #9ca3ab;
}

.news-text:last-child {
  margin-bottom: 22px;
}

@media screen and (min-width: 1280px) {
  .news-text:last-child {
    margin-bottom: 40px;
  }
}

.read-more {
  margin-left: auto;
  font-size: 16px;
  color: #86bc42;
}

.read-more svg {
  margin-left: 12px;
}

@media screen and (min-width: 1280px) {
  .read-more {
    margin-right: auto;
    margin-left: 68px;
    margin-bottom: 41px;
  }
}

.news-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 41px;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .scroll-news {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .scroll-news {
    margin-top: 33px;
  }
}

.scroll-points-news {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 21px 57px;
}

.scroll-points-news svg {
  margin-right: 17px;
}

.scroll-points-news svg:last-child {
  margin-right: 0;
}

.scroll-btn-news {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: none;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
}

.all-news-btn {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}

.footer-section {
  position: relative;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .footer-section {
    margin-top: 60px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-container {
    margin-left: 37px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    margin-left: 67px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container-light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .container-light {
    width: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .container-dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo {
  margin-top: 38px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-top: 71px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-top: 5px;
  }
}

.logo {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  color: #6e788d;
}

@media screen and (min-width: 768px) {
  .logo {
    text-align: start;
  }
}

.logo-green {
  color: #86bc42;
}

.footer-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25em;
  text-align: center;
  color: #9ca3ab;
}

@media screen and (min-width: 768px) {
  .footer-text {
    text-align: start;
    padding: 0;
  }
}

.social-link {
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}

.social-link svg {
  margin-right: 20px;
}

.social-link svg:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .social-link {
    margin-left: 0;
  }
}

.footer-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-light {
    padding-left: 37px;
    padding-right: 20px;
    min-width: 315px;
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .footer-light {
    width: 360px;
    padding-left: 67px;
    padding-right: 30px;
  }
}

.footer-dark {
  position: relative;
  background: #4b5464;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .footer-dark {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 43px;
    min-width: 455px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-dark {
    min-width: 930px;
    padding-left: 80px;
    padding-right: unset;
    padding-top: 24px;
    width: 100%;
  }
}

.header-footer {
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

@media screen and (min-width: 1280px) {
  .navigation {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list {
    margin-right: 47px;
  }
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav-list-link::before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 5px;
  height: 8px;
  background-image: url("../img/arrow-footer.svg");
  fill: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #86bc42;
}

.nav-list-link:hover:before,
.nav-list-link:focus:before {
  background-image: url("../img/arrow-footer-green.svg");
}

.contacts-list {
  padding-bottom: 23px;
}

.contacts-icon {
  margin-right: 9px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5em;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .contacts-element {
    margin-left: 110px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-element::before {
    content: "";
    position: absolute;
    top: 80px;
    left: -80px;
    -webkit-transform: translate(100% 100%);
            transform: translate(100% 100%);
    width: 78px;
    height: 0px;
    border: 0.4px solid #ffffff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.contacts.mail {
  margin-top: 11px;
  font-weight: 400;
}

.footer-plant {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .footer-plant-tab,
  .footer-plant-desk {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-plant-desk,
  .footer-plant-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .footer-plant-tab,
  .footer-plant-mob {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .footer-plant-desk {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */