@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto&display=swap");
@font-face {
  font-family: Muli;
  src: url(../fonts/Muli-Regular.ttf) url(../fonts/Muli-SemiBold.ttf) url(../fonts/Muli-Black.ttf);
}

body {
  font-family: "Muli", sans-serif;
}

@media screen and (max-width: 767px) {
  section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 767px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280) {
  section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767) {
  .container {
    width: 345px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1145px;
    padding-left: 68px;
    padding-right: 68px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.header-bg {
  background-color: #4b5464;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrapper {
    position: relative;
    padding-left: 67px;
    padding-right: 67px;
  }
}

.cont-header-list {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-header li:first-child {
  margin-top: 7px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
  }
}

.contacts-header li:last-child {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .contacts-header li:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cont-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
}

.cont-links svg {
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .cont-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: auto;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.reist-item {
  padding-right: 31px;
  padding-left: 31px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-bottom: auto;
  background-color: #86bc42;
}

@media screen and (min-width: 768px) {
  .reist-item {
    padding-right: 38px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }
}

.entry-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 31px;
  margin-top: 4px;
  margin-bottom: 3px;
  font-weight: 600;
}

.entry-item svg {
  width: 35px;
  height: 26px;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .entry-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .entry-item svg {
    width: 41px;
    height: 30px;
    margin-right: 15px;
  }
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  margin-right: auto;
  margin-left: 57px;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-header {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    -webkit-transform: translate(330%, 9px);
            transform: translate(330%, 9px);
  }
}

.lg-green {
  color: #86bc42;
}

.lg-grey {
  color: #6e788d;
}

@media screen and (min-width: 1280px) {
  .lg-grey {
    color: #fff;
  }
}

.menu-btn {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: 15px;
  padding: 0;
  width: 36px;
  height: 15px;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    margin-right: 34px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 8px;
    margin-bottom: 6px;
  }
}

.site-nav-links {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  color: #6e788d;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}

.site-nav-links:hover {
  color: #86bc42;
  cursor: pointer;
}

.hero-bg {
  padding-top: 25px;
  padding-bottom: 27px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-width: 374px;
  height: auto;
  background-image: url(../../img/mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url(../../img/mob-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: url(../../img/tablet-hero.jpg);
    min-width: 768px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg .hero-bg {
    background-image: url(../img/tablet-hero@2x.jpg);
  }
}

.reg-window {
  padding-top: 11px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 19px;
  background: rgba(47, 45, 55, 0.25);
  border-radius: 3.70238px;
}

.reg-window::before {
  content: "";
  z-index: 10;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.decription-reg {
  display: none;
}

@media screen and (min-width: 768px) {
  .decription-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 20px;
  }
}

.descr-reg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.descr-reg-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descr-reg-icon1 {
  width: 41px;
  height: 41px;
}

.descr-reg-icon2 {
  width: 44px;
  height: 44px;
}

.descr-reg-icon3 {
  width: 41px;
  height: 41px;
}

.num {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  font-family: "Open sans";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.reg-window-header {
  margin-bottom: 17px;
  font-family: "Open sans";
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
}

.reg-window-header span {
  font-family: "Open sans";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 10px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 37px;
}

.reg-form-items-name {
  width: 114px;
}

.reg-form-items-tel {
  width: 162px;
}

.reg-form-items {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 11px;
  background: #ffffff;
  border: 1px solid #6e788d;
  border-radius: 37px;
}

.reg-form-items::-webkit-input-placeholder {
  margin-right: 44px;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items:-ms-input-placeholder {
  margin-right: 44px;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::-ms-input-placeholder {
  margin-right: 44px;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.reg-form-items::placeholder {
  margin-right: 44px;
  font-family: "Open sans";
  font-size: 12px;
  line-height: 15px;
  color: #6e788d;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 37px;
}

.hero-btn-item {
  width: 87px;
  height: 30px;
  background-color: #86bc42;
  outline: none;
  border: none;
  border-radius: 37px;
  font-family: "Open sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-objects {
  margin-bottom: 13px;
  font-family: 'Open sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #6E788D;
}

.header-objects {
  font-family: 'Open sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #6E788D;
}
/*# sourceMappingURL=main.css.map */