.footer-section {
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-light {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
}

.footer-logo {
  margin-top: 38px;
}

.logo {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;

  color: #6e788d;
}

.logo-green {
  color: #86bc42;
}

.footer-text {
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.25em;
  text-align: center;

  color: #9ca3ab;
}

.social-link {
  margin-top: 26px;

  margin-left: auto;
  margin-right: auto;

  & svg {
    margin-right: 20px;
  }

  & svg:last-child {
    margin-right: 0;
  }
}

.footer-dark {
  margin-top: 36px;
  padding-top: 28px;

  background: #4b5464;
}

.header-footer {
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.3em;
  text-transform: uppercase;

  color: #ffffff;
}

.navigation {
  display: flex;
  margin-bottom: 28px;
}

.nav-list {
  margin-right: 50px;
}

.nav-list:last-child {
  margin-right: 0;
}

.nav-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  text-decoration: none;

  color: #ffffff;

  display: flex;
  align-items: baseline;

  &::before {
    content: "";

    display: block;

    margin-right: 8px;
    margin-bottom: 1px;

    width: 5px;
    height: 8px;
    background-image: url("../../img/arrow-footer.svg");
    fill: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #86bc42;
}

.contacts-list {
  padding-bottom: 23px;
}
.contacts-icon {
  margin-right: 9px;
}

.contacts {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.5em;

  color: #ffffff;
}

.contacts.mail {
  margin-top: 11px;

  font-weight: 400;
}

// footer-plant

.footer-plant {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-plant-tab,
.footer-plant-desk {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.footer-plant-desk,
.footer-plant-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.footer-plant-tab,
.footer-plant-mob {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
