.last-news-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
  }
}

.left-plant {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -999;

  transform: translateY(50%);

  @media screen and (min-width: 768px) {
    transform: translateY(0%);
  }

  @media screen and (min-width: 1280px) {
    transform: translateY(100%);
  }
}

.last-news-container {
  @media screen and (min-width: 768px) {
    padding-right: 95px - 30px;
    padding-left: 95px - 30px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}
.left-plant-tab,
.left-plant-desk {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.left-plant-desk,
.left-plant-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.left-plant-tab,
.left-plant-mob {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.last-news-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 9px;
  margin-left: 9px;

  margin-bottom: 25px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;

  color: #6e788d;

  @media screen and (min-width: 768px) {
    font-size: 20px;

    margin-bottom: 68px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
  }
}

.last-news-header::before {
  margin-top: 39px;
  margin-bottom: 16px;

  content: "";
  width: 105px;
  height: 1px;

  background-color: #9ca3ab;

  @media screen and (min-width: 768px) {
    margin-top: 47px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
    margin-bottom: 18px;
  }
}

.last-nes-wapper {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.news {
  display: flex;
  flex-direction: column;
}

.news-description {
  margin-bottom: 16px;

  padding-right: 32px - 15px;
  padding-left: 32px - 15px;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.045em;
  text-transform: uppercase;

  color: #6e788d;

  @media screen and (min-width: 768px) {
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-right: 150px;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 38px;
    margin-top: 66px;
    width: 510px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 88px;

    width: 33px;
    height: 3px;

    background-color: #86bc42;

    @media screen and (min-width: 768px) {
      width: 102px;
      top: 135px;
    }

    @media screen and(min-width:1280px) {
      width: 67px;
    }
  }
}

.mob-building {
  margin-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .tab-building {
    display: none;
  }
  .deck-building {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tab-building {
    display: block;
  }
  .deck-building {
    display: none;
  }
  .mob-building {
    display: none;
  }
}

@media screen and(min-width: 1280px) {
  .tab-building {
    display: none;
  }

  .mob-building {
    display: none;
  }

  .deck-building {
    position: absolute;
    display: block;
    right: 0;

    // margin-right: -70px;
    padding-right: 0;
  }
}

@media screen and(min-width:1280px) {
  .news {
    margin-right: auto;
  }
}

.news-inform {
  margin-top: 22px;

  @media screen and (min-width: 768px) {
    margin-top: 39px;
  }
  @media screen and (min-width: 1280px) {
    width: 470px;
    margin-left: 68px;
    margin-top: 0;
  }
}

.news-text {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 22px;

    @media screen and(min-width:1280px) {
      margin-bottom: 40px;
    }
  }

  font-size: 14px;
  line-height: 18px;

  color: #9ca3ab;
}

.read-more {
  margin-left: auto;

  font-size: 16px;
  color: #86bc42;

  & svg {
    margin-left: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: auto;
    margin-left: 0;

    margin-bottom: 41px;
  }
}

.news-buttons {
  display: flex;
  flex-direction: column;
}

// scroll

.scroll-news {
  display: flex;
  align-items: center;
  cursor: pointer;

  margin-top: 41px;
  margin-bottom: 28px;

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 33px;
  }
}

.scroll-points-news {
  display: inline-flex;

  align-items: center;

  margin: 21px 57px;
}

.scroll-points-news svg {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.scroll-btn-news {
  border: 0;
  margin: 0;
  padding: 0;

  font-family: none;
  font-size: 0;
  line-height: 0;

  background-color: transparent;
}
.all-news-btn {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}
