.price-bg {
  margin-top: 39px;
  padding-top: 33px;
  padding-bottom: 34px;

  width: 100%;
  min-width: 375px;
  height: auto;
  background-image: url("../img/plant-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-bg {
      background-image: url("../img/plant-bg@x2.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url("../img/tab-plant-bg.jpg");
    min-width: 768px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-bg {
        background-image: url("../img/tab-plant-bg@2x.jpg");
      }
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../img/deck-plant-bg.jpg");
    min-width: 1280px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-bg {
        background-image: url("../img/deck-plant-bg@2x.jpg");
      }
    }
  }
}

.form-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.forms-price {
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 25px;

  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #86bc42;
  backdrop-filter: blur(6px);

  border-radius: 4px;

  @media screen and(min-width:768px) {
    padding-left: 24px;
    padding-right: 13px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 68px;
    margin-right: 68px;

    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 31px;
  }
}

.header-price {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.045em;

  color: #6e788d;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.header-price::before {
  margin-top: 27px;
  margin-bottom: 9px;

  content: "";
  width: 74px;
  height: 1px;

  background-color: #9ca3ab;

  @media screen and(min-width:1280px) {
    margin-top: 38px;
    margin-bottom: 13px;
  }
}

.appartment-information {
  display: flex;
  flex-direction: column;
}

.price-form-label {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.8em;

  color: #6e788d;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.appartment-input {
  padding: 7px 16px;

  margin-bottom: 9px;

  width: 261px;
  height: 36px;

  border: 1px solid #6e788d;
  box-sizing: border-box;
  border-radius: 4px;

  background-color: transparent;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.79em;

    color: #6e788d;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 373px;
    height: 51px;
  }
}

.period-input {
  margin-right: 9px;
}

.period {
  margin-right: 22px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2.1em;

  color: #6e788d;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-right: 23px;
  }
}

.price-container {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: auto;
  }
}

.price-information {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.1em;

  color: #6e788d;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.clarification-container {
  display: flex;

  margin-top: 28px;

  @media screen and(min-width:1280px) {
    margin-bottom: 35px;

    margin-top: 40px;
  }
}

.inform-icon {
  margin-right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;

  border: 0.7px solid #86bc42;
  border-radius: 100%;
}

.inform-text {
  width: 245px;
  @media screen and (min-width: 1280px) {
    width: 350px;
  }
}

.clarification {
  font-size: 12px;
  line-height: 1.3em;

  color: #6e788d;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.clarification-green {
  color: #86bc42;
}

.price {
  margin-top: 25px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.8em;

  color: #6e788d;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

//custim-radio
.radio-wrapper {
  display: flex;

  align-items: center;
}

.form-radio {
  margin-bottom: 10px;

  @media screen and(min-width:768px) {
    margin-bottom: 0;
  }
}
.form-radio input[type="radio"] {
  display: none;
}
.form-radio label {
  display: flex;
  align-items: center;

  cursor: pointer;
  margin-right: 22px;

  user-select: none;

  font-size: 12px;
  color: #6e788d;

  @media screen and(min-width:1280px) {
    font-size: 16px;

    margin-right: 31px;
  }
}
.form-radio label:before {
  content: "";
  display: block;

  width: 11px;
  height: 11px;

  margin-right: 9px;

  border: 0.7px solid #86bc42;
  border-radius: 100%;
}

/* Checked */
.form-radio input[type="radio"]:checked + label:before {
  background: url("../img/checked.svg") 0 0 no-repeat;
  background-size: 6.3px 6.3px;
  background-position: center;
}
